name: Extract Commit Message

on:
  push:
    branches:
      - main # Replace with the branch you want to trigger the workflow on

jobs:
  extract_commit_message:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Commit Message Environment Variable
        id: set_commit_message
        run: |
          COMMIT_MESSAGE=$(git log --format=%B -n 1 ${{ github.sha }})
          echo "Commit Message: $COMMIT_MESSAGE"
          echo "COMMIT_MESSAGE=$COMMIT_MESSAGE" >> $GITHUB_ENV
        
      - name: Split Commit Message
        id: split_commit_message
        run: |
          IFS='---' read -ra SPLIT_MESSAGES <<< "${{ env.COMMIT_MESSAGE }}"
          echo "Split Messages: ${SPLIT_MESSAGES[@]}"
          if [ "${#SPLIT_MESSAGES[@]}" -ge 1 ]; then
            echo "SPLIT_MESSAGE_1=${SPLIT_MESSAGES[0]}" >> $GITHUB_ENV
          fi
          if [ "${#SPLIT_MESSAGES[@]}" -ge 2 ]; then
            echo "SPLIT_MESSAGE_2=${SPLIT_MESSAGES[1]}" >> $GITHUB_ENV
          fi
          if [ "${#SPLIT_MESSAGES[@]}" -ge 3 ]; then
            echo "SPLIT_MESSAGE_3=${SPLIT_MESSAGES[2]}" >> $GITHUB_ENV
          fi

      - name: Use the Split Messages
        run: |
          echo "Split Message 1: ${{ env.SPLIT_MESSAGE_1 }}"
          echo "Split Message 2: ${{ env.SPLIT_MESSAGE_2 }}"
          echo "Split Message 3: ${{ env.SPLIT_MESSAGE_3 }}"
