name: Split Commit Message

on:
  push:
    branches:
      - main # You can specify the branch you want to trigger this on

jobs:
  split-commit-message:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Get Commit Message
        id: commit_message
        run: |
          commit_message="$(git log --format=%B -n 1 ${{ github.sha }})"
          echo "::set-output name=message::$commit_message"

      - name: Split Commit Message
        id: split_message
        if: steps.commit_message.outputs.message != ''
        run: |
          commit_message="${{ steps.commit_message.outputs.message }}"
          IFS='---' read -ra message_parts <<< "$commit_message"
          for part in "${message_parts[@]}"; do
            echo "Split Message Part: $part"
          done
