name: Get commit message
on:
  push:
    branches:
      - main
jobs:
  get-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Get commit message
        run: |
          commit_message=$(git log --oneline -n 1)

      - name: Split commit message
        run: |
          commit_message_parts=($commit_message//---/)

      - name: Check if commit message was split into 3 parts
        run: |
          if [ ${#commit_message_parts[@]} -eq 3 ]; then
            echo "The commit message was split into 3 parts."
            summary=${commit_message_parts[0]}
            body=${commit_message_parts[1]}
            footer=${commit_message_parts[2]}
          else
            echo "The commit message was not split into 3 parts."
          fi